//**
// Main Layout Styles
//**



body{
	background-color: $lightGrey;
	margin: 0;
}

.ad{
	background-color: $white;
    text-align: center;
}

header .ad img{
	-webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

footer.ad img{
	-webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
}

#result img{
	max-width:100%;
}

// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
