//**
// 12 Column Responsive Grid
//**

.container, .innercontainer {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.innercontainer{
	margin: 20px auto 0;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  margin-bottom: 20px;
}

.group {
  flex-direction: column;
}




// Grid columns are stacked until the display size is greater than min-width
@include mobilefirst($small-break) {

  $unit: 6.2056333%; // Width of each grid column unit
  $margin: 2.1277%; // Margin between the grid columns

  .container {
    padding: 0 40px;
  }
 
 .innercontainer{
 	padding: 0 20px;
 }

  .group {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$margin;
  }

  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    flex: 0 0 auto;
  }

  @for $i from 1 through 12 {
    .span#{$i} {
      flex-basis: ($unit * $i) + ($margin * ($i - 1));
      margin-left: $margin;
      max-width: ($unit * $i) + ($margin * ($i - 1));
    }

    .offset#{$i} {
      margin-left: ($unit * $i) + ($margin * ($i + 1));
    }
  }
}
