//**
// Responsive Styles
//**

@include responsive($big-break) {
  // e.g. iPad, tablets, small browsers
}





@include responsive($small-break) {
  // e.g. iPhone, mobile
  body {
    overflow-x: hidden;
  }
}
